.card-content-override-details {
  height: 75px;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

@media print { 
  .button, .modal-card-title, .modal-card-head {
    display: none
  }
}