.card-content-override-details {
  height: 75px;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.modal-card-head {
  height: 80px;
}

.navbar {
  --bulma-navbar-item-color: white;
  --bulma-navbar-item-background-l-delta: hsl(28.66deg 100% 82.06% / 96%);
}

.navbar-icon {
  height: fit-content;
  display: flex;
  align-self: center;
}

a.navbar-item:hover,
.navbar-link:hover {
  background-color: var(--bulma-primary-25);
  --bulma-navbar-dropdown-arrow: var(--bulma-primary-85);
  --bulma-navbar-item-color: var(--bulma-primary-85);
}

a.navbar-item:focus,
a.navbar-item:focus-within {
  --bulma-navbar-item-background-a: none;
  --bulma-navbar-item-background: none;
}

@media print {
  .button,
  .comments-replys,
  /* .card-header, */
  .modal-card-foot,
  .navbar {
    display: none;
  }
  .box,
  .card-header,
  .card,
  .modal-card-head {
    --bulma-box-shadow: none;
    --bulma-shadow: none;
    --bulma-card-shadow: none;
    --bulma-card-header-shadow: none;
    --bulma-card-header-weight: var(--bulma-weight-medium);
  }
  .title {
    font-weight: normal;
  }
  .has-text-white {
    color: hsl(221, 14%, 4%) !important;
  }
  .section {
    padding: 0;
    margin: 0;
  }
}

.media {
  --bulma-media-border-color: hsl(221deg 14% 86% / 0%);
}

:root {
  --bulma-primary-h: 0deg;
  --bulma-primary-l: 76%;
  --bulma-link-h: 27deg;
  --bulma-link-s: 87%;
  --bulma-link-l: 67%;
  --bulma-info-h: 37deg;
  --bulma-info-s: 68%;
  --bulma-info-l: 77%;
  --bulma-success-h: 23deg;
  --bulma-success-s: 98%;
  --bulma-success-l: 66%;
  --bulma-warning-h: 44deg;
  --bulma-warning-l: 60%;
  --bulma-danger-h: 345deg;
  --bulma-danger-s: 80%;
  --bulma-danger-l: 76%;
  --bulma-scheme-h: 36;
  --bulma-scheme-s: 100%;
  --bulma-body-background-color: #fff5ee;
  --bulma-body-color: #2d3748;
  --bulma-hr-background-color: #ff6b6b;
  --bulma-skeleton-background: #fff5ee;
}

.card {
  --bulma-card-background-color: hsl(28.66deg 100% 82.06% / 40%);
}

.dropdown {
  --bulma-dropdown-content-background-color: hsl(28.66deg 100% 82.06% / 78%);
}

.modal {
  --bulma-modal-background-background-color: hsla(17, 11%, 33%, 0.78);
  --bulma-modal-card-head-background-color: hsl(10, 71%, 68%);
  --bulma-modal-card-foot-background-color: hsl(10, 71%, 88%);
  --bulma-modal-card-body-background-color: hsl(10, 71%, 95%);
}

.navbar {
  --bulma-navbar-dropdown-background-color: hsla(12, 100%, 90%, 0.9);
  --bulma-navbar-dropdown-border-color: hsla(12, 100%, 90%, 0.9);
  --bulma-navbar-dropdown-item-color-l: 10%;
}

.box {
  --bulma-box-background-color: hsl(28.66deg 100% 82.06% / 40%);
}

.button {
  color: rgb(0, 0, 0) !important;
}

.input-select,
.textarea
 {
  --bulma-input-h: 220;
  --bulma-input-s: 65%;
  --bulma-input-l: 79%;
  --bulma-input-border-l: 35%;
  --bulma-input-border-l-delta: 50%;
  --bulma-input-hover-border-l-delta: 30%;
  --bulma-input-focus-h: 220;
  --bulma-input-focus-s: 100%;
  --bulma-input-focus-l: 50%;
  --bulma-input-focus-shadow-size: 0 0 0 0.08em;
  --bulma-input-focus-shadow-alpha: 0.7;
}

.input, .textarea {
    --bulma-input-placeholder-color: hsla(220, 14%, 21%, 0.596);
}

